<div>
    <p class="mb-2 text-xs font-semibold tracking-wide text-gray-600 uppercase">
        Featured &bull; <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
    </p>

    <a href="/" class="block" aria-label="Article">
        <div class="my-3">
            <p class="text-xl font-extrabold leading-none tracking-tight lg:text-4xl xl:text-5xl">
                {{title}}
            </p>
        </div>
        <p class="mb-4 text-base text-gray-700 md:text-lg">
            {{excerpt}}
        </p>
    </a>

    <div class="flex items-center">
        <a href="/" aria-label="Author" class="mr-3">
            <img alt="avatar"
                 src="{{primary_author}}"
                 class="object-cover w-10 h-10 rounded-full shadow-sm" />
        </a>
        <div>
            <a href="/" aria-label="Author"
               class="font-semibold text-gray-800 transition-colors duration-200 hover:text-deep-purple-accent-400">
                {{authors}}
            </a>
            <p class="text-sm font-medium leading-4 text-gray-600">Author</p>
        </div>
    </div>
</div>