<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    <title>{{meta_title}}</title>

    {{ghost_head}}
</head>

<body class="{{body_class}}">

<section class="flex items-center h-full p-16 bg-gray-900 text-gray-100 h-screen">
	<div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
		<div class="max-w-md text-center">
			<h2 class="mb-8 font-extrabold text-9xl text-gray-600">
				<span class="sr-only">{{statusCode}} Error</span>
				{{statusCode}}
			</h2>
			<p class="text-2xl font-semibold md:text-3xl">{{message}}</p>
			<a rel="noopener noreferrer" href="/" class="block mt-8 px-8 py-3 font-semibold rounded bg-violet-400 text-gray-900">
                Back to homepage
            </a>
		</div>
	</div>
</section>

{{#if errorDetails}}
    <section class="error-stack">
        <h3>Theme errors</h3>

        <ul class="error-stack-list">
            {{#foreach errorDetails}}
                <li>
                    <em class="error-stack-function">{{{rule}}}</em>

                    {{#foreach failures}}
                        <p><span class="error-stack-file">Ref: {{ref}}</span></p>
                        <p><span class="error-stack-file">Message: {{message}}</span></p>
                    {{/foreach}}
                </li>
            {{/foreach}}
        </ul>
    </section>
{{/if}}


{{ghost_foot}}

</body>
</html>