{{!< default}}

{{#post}}

    <div class="px-4 sm:px-6 md:px-8">
        <div class="max-w-4xl mx-auto pb-28">
            <article>
                <header class="py-8">
                    <div class="text-sm">
                        <dl>
                            <dt class="sr-only">Date</dt>
                            <dd class="text-slate-700 text-lg dark:text-slate-400 capitalize">
                                <time datetime="{{date format="MM-DD-YYYY"}}">
                                    {{date format="dddd DD MMMM YYYY"}}
                                </time>
                            </dd>
                        </dl>
                    </div>

                    <h1 class="text-2xl font-extrabold tracking-tight text-slate-200 md:text-5xl mt-1">
                        {{title}}
                    </h1>

                    <div class="mt-6">
                        <ul class="flex flex-wrap text-sm leading-6">
                            {{#foreach authors}}
                                <li class="flex items-center font-medium whitespace-nowrap">
                                    <img src="{{profile_image}}" alt=""
                                         class="mr-3 w-9 h-9 rounded-full bg-slate-50 dark:bg-slate-800">
                                    <div class="text-sm leading-4">
                                        <div class="text-slate-900 dark:text-slate-200">{{name}}</div>
                                        {{#if twitter}}
                                            <div class="mt-1 text-sky-500 hover:text-sky-600 dark:text-sky-400">
                                                <a href="https://twitter.com/{{twitter}}"
                                                   class="text-sky-500 hover:text-sky-600 dark:text-sky-400">
                                                    {{twitter}}
                                                </a>
                                            </div>
                                        {{/if}}
                                    </div>
                                </li>
                            {{/foreach}}
                        </ul>
                    </div>

                    <figure>
                        <img class="rounded-xl object-cover mt-10 aspect-video"
                             src="{{feature_image}}" alt="{{feature_image_alt}}">
                        <figcaption class="text-gray-400 text-sm mt-2">
                            {{feature_image_caption}}
                        </figcaption>
                    </figure>
                </header>

                <div class="pt-10 prose lg:prose-xl prose-invert max-w-none">
                    {{content}}
                </div>
            </article>
        </div>
    </div>
{{/post}}
